.app {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex-direction: column;

	.div1 {
		flex-direction: column;
		gap: 1rem;
		display: flex;
	}
	.div2 {
		flex-direction: column;
		gap: 1rem;
	}
}
